@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed|Roboto+Slab');
 :root {
    --primary-light: #fff;
    --highlight: #00dffc;
    --neon-white: #fff;
    --contrast: #008c9e;
    --secondary-light: whitesmoke;
    --primary-dark: #222;
    --border-highlight: #005f6b;
    --secondary-dark: #343838;
    --container-padding: 20px;
    --smaller-container-padding: calc(var(--container-padding) / 2);
    --container-width: calc(100vw - var(--smaller-container-padding));
    --tile-width: 300px;
    --header-height: 8rem;
    --border-width: 20px;
    --main-text: 'Roboto Condensed';
    --headings: 'Roboto Slab';
    --logo: 'Montserrat';
}

@media (max-width: 420px) {
     :root {
        --container-padding: 10px;
    }
}


/* html {
  
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
 */

* {
    max-width: 100%;
    box-sizing: border-box;
}


/* html, */

body {
    font-size: 100.001%;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    letter-spacing: 0.1em;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(images/backgrounds/darkbricks.jpg), #222;
    padding: 10px;
}

.headings-section {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

h1,
h2 {
    font-family: var(--headings, monospace);
}

h1 {
    font-size: 5em;
    color: rgba(255, 255, 255, 0.2);
    /* (116,238,21) */
    animation: fade-on 1.5s linear 7s 1, fades-down 1s linear 8.5s 1, stay 1s linear 9.5s infinite;
    text-shadow: none;
    margin: 0;
    /* letter-spacing: 0em !important; */
}

p,
h3,
a {
    font-family: var(--main-text, sans-serif);
}

.welcome-subheading {
    position: relative;
    color: rgba(255, 255, 255, 0.2);
    animation: fade-on 1.5s linear 8.5s 1, fades-down 1s linear 9.5s 1, stay 1s linear 10.5s infinite;
    text-shadow: none;
    font-size: 2em;
    font-family: var(--main-text, sans-serif);
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.5em;
    }
}

@keyframes fade-on {
    0%,
    19.999%,
    22%,
    100% {
        color: rgba(255, 255, 255, 0.99);
        text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 0 -2px 8px, 0 0 2px, 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%,
    21.999% {
        color: rgba(255, 255, 255, 0.4);
        text-shadow: none;
    }
}

@keyframes fades-down {
    0% {
        color: rgba(255, 255, 255, 0.99);
        text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 0 -2px 8px, 0 0 2px, 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    100% {
        text-shadow: none;
        color: rgba(255, 255, 255, 1);
    }
}

@keyframes stay {
    0%,
    100% {
        color: rgb(255, 255, 255);
        opacity: .99;
        text-shadow: none;
    }
}

.luminous {
    color: #fff;
    animation: flicker 5s linear 4s 1, stay-on 2s linear 9s infinite;
    opacity: .4;
}

@keyframes flicker {
    0%,
    0.999%,
    2%,
    2.999%,
    4%,
    5.999%,
    100% {
        opacity: .99;
        text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 0 -2px 8px, 0 0 2px, 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    1%,
    1.999%,
    3%,
    3.999%,
    6% {
        opacity: .4;
        text-shadow: none;
    }
}

@keyframes stay-on {
    0%,
    100% {
        opacity: .99;
        text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 0 -2px 8px, 0 0 2px, 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 2px #ff7e00, 0 2px 3px #000;
    }
}

.welcome-link {
    position: absolute;
    right: 10%;
    bottom: 10%;
    transform: translate(100%, 100%);
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    transform: rotate(-20deg);
    opacity: 0.2;
    color: var(--highlight, #00dffc);
    animation: flick-on 1.5s linear 13s 1, flick-stay 3s linear 14.5s infinite;
}

.welcome-link:visited {
    color: var(--highlight, #00dffc);
}

nav {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    color: var(--highlight, #00dffc);
}

.nav-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    color: var(--highlight, #00dffc);
    /* background: var(--highlight, var(--highlight, #00dffc)); */
    border-bottom: 2px solid var(--highlight, #00dffc);
    font-weight: bold;
    opacity: 0.2;
    animation: flick-on 1.5s linear 14s 1, fade-down 1s linear 15.5s 1, stays 3s linear 16.5s infinite;
}

#home-link {
    color: var(--highlight, #00dffc);
    text-decoration: none;
}

#home-link h2 {
    font-family: var(--logo, sans-serif);
}

.nav-container a:visited {
    color: var(--highlight, #00dffc);
}

.nav-container a:hover {
    color: var(--highlight, #00dffc);
    text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc);
    opacity: .99;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    color: var(--highlight, #00dffc);
}

.nav-link {
    margin-right: 60px;
    color: var(--highlight, #00dffc);
    font-family: var(--headings, monospace) !important;
}

@keyframes flick-on {
    0%,
    19.999%,
    22%,
    100% {
        text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc);
        opacity: .99;
    }
    20%,
    21.999% {
        opacity: .4;
        text-shadow: none;
    }
}

@keyframes flick-stay {
    0%,
    89.999%,
    91%,
    92.999%,
    94%,
    95.999%,
    97%,
    100% {
        text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc);
        opacity: .99;
    }
    90%,
    90.999%,
    93%,
    93.999%,
    96%,
    96.999% {
        opacity: .4;
        text-shadow: none;
    }
    44.9% {
        opacity: 0.89;
        text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 4px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 5px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc);
    }
}

@keyframes fade-down {
    0% {
        text-shadow: -1px -1px 0 var(--highlight, #00dffc), 1px -1px 0 var(--highlight, #00dffc), -1px 1px 0 var(--highlight, #00dffc), 1px 1px 0 var(--highlight, #00dffc), 0 -2px 8px, 0 0 2px, 0 0 5px var(--highlight, #00dffc), 0 0 15px var(--highlight, #00dffc), 0 0 2px var(--highlight, #00dffc), 0 2px 3px var(--highlight, #00dffc);
        opacity: .99;
    }
    100% {
        text-shadow: none;
        opacity: 1
    }
}

@keyframes stays {
    0%,
    100% {
        opacity: 1;
        text-shadow: 1;
    }
}

main {
    background: url(images/backgrounds/darkbricks.jpg), #222;
    /* background: var(--secondary-light, rgb(255, 255, 255)smoke); */
    text-align: center;
}

#projects {
    padding: var(--container-padding, 20px);
}

#projects-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /*  width: var(--container-width, 100%);*/
    margin: 3rem auto;
}

.article-heading {
    position: relative;
    margin: 2rem 0;
    color: var(--primary-light);
    font-size: 3rem;
}

.project-tile {
    position: relative;
    height: var(--tile-width, 300px);
    width: var(--tile-width, 300px);
    margin: calc(var(--container-padding) / 2);
    /* border: 1px solid black; */
}

.project-tile img {
    height: 100%;
    width: 100%;
}

.project-description-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--contrast, blue);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-tile:hover {
    box-shadow: -1px -1px 0 var(--contrast, blue), 1px -1px 0 var(--contrast, blue), -1px 1px 0 var(--contrast, blue), 1px 1px 0 var(--contrast, blue), 0 -2px 8px, 0 0 2px, 0 0 5px var(--contrast, blue), 0 0 15px var(--contrast, blue), 0 0 2px var(--contrast, blue), 0 2px 3px var(--contrast, blue);
}

.project-tile:hover .project-description-section {
    height: 100%;
    top: 0;
}

.project-description-text {
    color: var(--primary-light);
    /* font-size: 1.1rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    white-space: wrap;
    width: 500px;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.project-title {
    margin: .7em;
}

#profile-links h2 {
    margin: 1em;
}

#about {
    position: relative;
    height: calc(85vh + var(--border-width));
    background: var(--contrast);
    padding: var(--header-height, 6rem), 0, var(--header-height, 6rem), 0;
    /* border-top: 10px solid var(--primary-dark, black); */
    border-bottom: 20px solid var(--primary-dark, black);
}

#about-container {
    position: relative;
    top: calc(var(--header-height) + 50px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 900px;
    padding: 20px;
    margin: auto;
    background: var(--secondary-highlight);
}

#about-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height, 6rem);
    background: var(--border-highlight);
}

.about-section {
    width: 350px;
}

.about-description {
    position: relative;
    top: 10%;
    line-height: 1.5;
}

#contact {
    position: relative;
    background: var(--border-highlight, #222);
    padding: var(--container-padding, 20px);
    padding-bottom: 40px;
}

#contact-heading {
    font-size: 2.5rem;
}

.contact-section {
    position: relative;
    margin: 3rem auto 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    padding: 10px;
    margin: 2px;
    background: /*  #003949 */
    transparent;
    border: none;
    border-bottom: 1px solid #001116;
    font-family: var(--headings, monospace);
}

::placeholder {
    color: white;
}

#submit {
    background: #001116;
    margin-top: 10px;
    border: none;
    color: var(--primary-light);
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

.socials-icon {
    --icon-size: 40px;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: 10px;
    text-decoration: none;
}

.socials-icon:hover {
    opacity: 0.7;
}

#socials-container a {
    text-decoration: none;
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-dark, #222);
    color: var(--primary-light, white);
    padding: var(--container-padding, 20px);
    font-family: var(--main-text, sans-serif);
    font-size: 0.8rem;
}

footer a {
    color: var(--secondary-light, whitesmoke) !important;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.7;
}

.footer-nav-links {
    display: flex;
    flex-flow: row wrap;
}

.footer-link-container {
    margin: 0 10px;
}