:root {
    --primary-light: white;
    --highlight: blue;
    --contrast: orange;
    --secondary-light: whitesmoke;
    --primary-dark: #222;
    --secondary-dark: #464444;
    --container-padding: 20px;
    --container-width: calc(100vw - var(--container-padding));
}

* {
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 100.001%;
}

#welcome-section {
    height: 100vh;
    background: var(--primary-light, white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    background: var(--highlight, blue);
}

main {
    background: var(--secondary-light, whitesmoke);
    text-align: center;
}

#projects {
    padding: var(--container-padding, 20px);
}

#projects-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /*  width: var(--container-width, 100%);*/
    margin: auto;
}

.project-section {}

.project-tile {
    position: relative;
    height: calc(var(--container-width) / 4);
    width: calc(var(--container-width) / 4);
    margin: calc(var(--container-padding) / 2);
    border: 1px solid black;
}

.project-tile img {
    height: 100%;
    width: 100%;
}

.project-description-section {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project-tile:hover .project-description-section {
    height: 100%;
    top: 0;
}

.project-description-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: wrap;
    width: 100%;
    height: 100%;
}

.reveal {
    display: block;
}

#skills {
    background: var(--primary-light, white);
    padding: var(--container-padding, 20px) 100px;
}

#skills-container {
    display: flex;
    width: 100%;
}